<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>TODO login</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>

<h1>TODO Login</h1>

<div class="error" th:if="${param.error}">Invalid username and password.</div>
<div class="notice" th:if="${param.logout}">You have been logged out.</div>

<form th:action="@{/login}" method="post">
<table id="login">
    <tbody>
    <tr>
        <td>Username</td>
        <td><input type="text" id="username" name="username" /></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" id="password" name="password" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Login" class="btn" /></td>
    </tr>
    </tbody>
</table>
</form>

</body>
</html>
