<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>TODO</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="/webjars/jquery/2.1.3/jquery.min.js"></script>
    <script src="/webjars/jquery-ui/1.11.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/jquery-ui-themes/1.11.3/smoothness/jquery-ui.min.css" />
    <script language="javascript">
        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) {
               xhr.setRequestHeader(header, token);
            });
        });
        function confirmDeleteTodo(id) {
            $('#dialog_confirm_delete').html('Are you sure to delete?');
            $('#dialog_confirm_delete').dialog({
                modal: true,
                title: 'Warning',
                buttons: {
                    'OK': function() {
                        $(this).dialog('close');
                        $(id).submit();
                    },
                    'Cancel': function() {
                        $(this).dialog('close');
                    }
                },
                open: function() {
                    $(this).siblings('.ui-dialog-buttonpane').find('button:eq(1)').focus();
                }
            });
        }
        function editTodo(entityId, td, id) {
            var child;
            var text;
            if ($(td).children().length == 0) {
                text = $(td).text();
                $(td).text('');
                child = $("<input />", {
                    'id': id,
                    'value': text
                });
                child.appendTo($(td));
            } else if ($(td).children().first().is(':visible')) {
                return;
            } else {
                $(td).text('');
                child = $(td).children().first();
                child.show();
            }
            child.focus();
            child.focusout(function() {
                if (child.val().length == 0) {
                    $(td).text(text);
                    child.hide();
                } else {
                    var data = {};
                    data['id'] = entityId;
                    data[id] = child.val();
                    $.ajax({
                        type: 'POST',
                        datatype : "json",
                        contentType: "application/json; charset=utf-8",
                        url: '/todos/' + entityId + '/update',
                        data: JSON.stringify(data)
                    }).success(function(data) {
                        $(td).text(child.val());
                        child.hide();
                    }).error(function(data) {
                        $(td).text(text);
                        child.hide();
                    });
                }
            });
        }
    </script>
</head>
<body>
<div id="container">

<div id="header" th:replace="fragments/header :: header">
    <div id="header_content">
        <h1>TODO dummy</h1>
    </div>
</div>

<div id="content">

<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

<form th:action="@{/todos/create}" th:object="${todoForm}" method="post">
    <label for="title">Title:</label><input type="text" th:field="*{title}" />
    <label for="note">Note:</label><input type="text" th:field="*{note}" />
    <label for="todoStateId">Status:</label>
    <select th:field="*{todoStateId}">
        <option th:each="state : ${allTodoStates}"
                th:value="${state.id}"
                th:text="${state.description}"></option>
    </select>
    <input type="submit" value="Save" />
    <div th:if="${#fields.hasErrors()}" th:errors="*">Error</div>
</form>

<table class="list" th:if="${!#lists.isEmpty(allTodos)}">
    <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Status</th>
        <th>Note</th>
        <th>&nbsp;</th>
    </thead>
    <tbody>
        <tr th:each="entity,rowStat : ${allTodos}">
            <td th:text="${entity.id}"></td>
            <td th:text="${entity.title}" th:onclick="'editTodo(' + ${entity.id} + ', this, \'title\');'"></td>
            <td th:text="${entity.todoState.description}"></td>
            <td th:text="${entity.note}" th:onclick="'editTodo(' + ${entity.id} + ', this, \'note\');'"></td>
            <td>
                <form class="inline" method="post" th:id="'delete' + ${entity.id}" th:action="@{/todos/__${entity.id}__/delete}">
                    <input type="button" value="Remove" th:onclick="'confirmDeleteTodo(\'#delete' + ${entity.id} + '\');'"/>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<div id="dialog_confirm_delete"></div>

</div>
</div>
</body>
</html>
