<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>TODO</title>
</head>
<body>

<h1>TODO list</h1>

<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

<form th:action="@{/todos/create}" th:object="${todoForm}" method="post">
    <label for="title">Title:</label><input type="text" th:field="*{title}" />
    <label for="note">Note:</label><input type="text" th:field="*{note}" />
    <label for="todoStateId">Status:</label>
    <select th:field="*{todoStateId}">
        <option th:each="state : ${allTodoStates}"
                th:value="${state.id}"
                th:text="${state.description}"></option>
    </select>
    <input type="submit" value="Save" />
    <div th:if="${#fields.hasErrors()}" th:errors="*">Error</div>
</form>

<table>
    <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Note</th>
    </thead>
    <tbody>
        <tr th:each="entity : ${allTodos}">
            <td th:text="${entity.id}"></td>
            <td th:text="${entity.title}"></td>
            <td th:text="${entity.note}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>
