@(form: Form[views.formdata.TodoForm], allTodos: List[models.Todo])

@implicitField = @{ helper.FieldConstructor(views.html.field.todoFieldConstructorTemplate.f) }

@main("TODO") {

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Todo.index()">TODO</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="username">@session.get("username")</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="form-group">
        @helper.form(routes.Todo.create(), 'id -> "newTodo", 'class -> "form-inline") {
            @helper.CSRF.formField
            @helper.inputText(form("title"), '_label -> "Title:", 'class -> "form-control", 'placeholder -> "Title")
            @helper.inputText(form("note"), '_label -> "Note:", 'class -> "form-control", 'placeholder -> "Note")
            @helper.select(form("todoStateId"), helper.options(TodoState.options), '_label -> "Status:", 'class -> "form-control")
            <input type="submit" class="btn btn-primary" value="Save" />
            @if(form.hasErrors) {
            <div class="alert alert-warning">
                @for(entry <- form.errors.entrySet){
                    @for(error <- entry.getValue){
                        @error.key: @Messages(error.message, error.arguments)
                    }
                }
            </div>
            }
        }
    </div>

    <table id="todolist" class="table table-hover">
        <thead>
            <th>Id</th>
            <th>Title</th>
            <th>Status</th>
            <th>Note</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
        @for(entity <- allTodos) {
        <tr>
            <td>@entity.getId()</td>
            <td data-id="@entity.getId()" data-edit-type="title">@entity.getTitle()</td>
            <td>@entity.getTodoState().getDescription()</td>
            <td data-id="@entity.getId()" data-edit-type="note">@entity.getNote()</td>
            <td>
                @helper.form(routes.Todo.delete(entity.getId()), 'id -> ("delete" + entity.getId().toString()), 'class -> "form-inline") {
                    @helper.CSRF.formField
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#dialog_confirm_delete" data-delete="@entity.getId()">Delete</button>
                }
            </td>
        </tr>
        }
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="dialog_confirm_delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                        Warning</h4>
                </div>
                <div class="modal-body">
                    Are you sure to delete this TODO?
                </div>
                <div class="modal-footer">
                    <button type="button" class="negative btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="positive btn btn-danger" data-dismiss="modal" data-delete="#">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script data-main='@routes.Assets.versioned("javascripts/todo.js")' src='@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js"))'></script>

}
